.container {
    width: 80%;
    margin: 2%;
}
.column {
}
.headerColumn {
}
.avatarColumn {
    width: 10%;
}
.iconHeader {
    width: 2%;
    padding: 0;
}
.iconDiv {
    height: 100%;
    background-color: #90B7B6   
}