.orgProps{
    display: table-caption;
    position: relative;
    padding-right: 27px;
    margin-top: 25px;
    width: 880px;
    margin-bottom: 40px;
}

.orgProps input{
    text-align: right;
}

.orgProps label{
    color: black;
}