.container {
  width: 80%;
}

.title {
  font-weight: 600;
  font-size: 14px;
  padding-top: 10px;
}

.button {
  max-height: 100px;
}

.avatar {
  cursor: pointer;
}
.avatar:hover {
  border: 3px solid rgb(145,182, 182)
}





