.container {
	display: flex;
  margin-top: 4px;
}
.mainView {
	/* display: inline-block; */
	/* height: 100%; */
	width: 84%;
  background-color: #D1DDDD;
  /* margin-right: 2%;
  margin-top: 2%; */
  
}
.table {
  margin: 2%;
  width: 80%;
}
.sideList {
  width: 16%;
  margin: 0;
  padding: 0;
}
